.App {
    margin: auto;
    min-height: 100vh;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    background-color: rgb(241, 229, 229);
}

/*Header container style*/

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  rgb(136, 61, 138);
  padding-bottom: 20px;
}

.headerContainer h2 {
  max-height: 6vh;
  text-align: center;
  justify-content: center;
  color: white
}

.containerForm{
  display: flex;
  justify-content:center ;
  align-items: center;
  width: 60%;
  
}
.containerForm input{
  flex: 1;
  height: 30px;
  margin-right: 20px;
}
.containerForm button{
width: 30px;
height: 30px;
border-radius: 5px;
}

/*header style end*/


.todoListContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: rgb(240, 212, 240);
    padding-top: 10px;
}

.itemContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(209, 171, 209);
  margin-bottom: 10px;
  padding-right: 10px;
}

.itemContainer p {
  color: rgb(14, 13, 14);
  padding: 5px 10px;

}
.completed{
  text-decoration: line-through;
}


.textListEmply {
  color: rgb(207, 15, 15);
  padding-top: 30px;
  align-self: center;
}

